body {
    font-family: Ubuntu, Calibri;
    font-size: 14px;
    background-color: lightgoldenrodyellow;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

.form-content {
    padding: 10px;
    margin: 15px;
    border: 2px solid darkgray;
    border-radius: 5px;
}